@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.containers {
  width: 95% !important;
}

.borderB {
  border-bottom: 1px solid #fff;
}

.footerlogo {
  height: 130px;
  width: 130px;
}

.mrgin {
  margin-top: 5px !important;
  margin-left: 5px !important;
  margin-bottom: 5px !important;
  margin-right: 5px !important;
  height: 78%;
  width: 100%;
}











.tras {
  transform: translateX(-85%);
  width: 300px;
}

.layout {
  display: grid;
  justify-content: space-between;
  grid-template-areas:
    "sideber content sideber"
  ;
}